<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<head th:replace="employee/layout/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- header -->
        <header th:replace="employee/layout/header :: header"> </header>
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <div th:replace="employee/layout/sidebar :: sidebar"></div>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Danh Sách Thông Tin Nghỉ Phép</h1>
                <br>
                <div>
                    <a href="add-nghiphep" class="btn btn-success"> Thêm Nghỉ Phép</a>
                </div>
                <ol class="breadcrumb">
                    <li><a href="/employee"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li class="active">Nghỉ Phép</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Danh Sách Nghỉ Phép Của Bạn</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="80px;">ID Phép</th>
                                    <th>Ngày bắt đầu</th>
                                    <th>Ngày kết thúc</th>
                                    <th>Loại nghỉ phép</th>
                                    <th>Lý do</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="nghiPhep : ${listnp}">
                                    <td th:text="${nghiPhep.id_leave}"></td>
                                    <td th:text="${nghiPhep.start_date}"></td>
                                    <td th:text="${nghiPhep.end_date}"></td>
                                    <td th:text="${nghiPhep.leave_type}"></td>
                                    <td th:text="${nghiPhep.reason}"></td>
                                    <td th:text="${nghiPhep.status}" 
                                        th:class="'status-' + ${nghiPhep.status}"></td>
                                    
                                </tr>
                                <tr th:if="${listnp.isEmpty()}">
                                    <td colspan="7" class="text-center">Không có dữ liệu nghỉ phép.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <!-- /.box -->
            </section>
        </div>
        <div th:replace="employee/layout/footer :: footer"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <div th:replace="employee/layout/scripts :: scripts"></div>
</body>
</html>