<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<head th:replace="admin/layout/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- header -->
		<header th:replace="admin/layout/header :: header"> </header>
		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<div th:replace="admin/layout/sidebar :: sidebar"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Form cập nhật nhân viên<small>Thông Tin</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Examples</a></li>
					<li class="active">Blank page</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="box">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Cập nhật Thông Tin</h3>
						</div>
						<form role="form" method="post"
							th:action="@{/admin/edit-nghiphep}" th:object="${dsnp}">
							<div class="box-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Mã phép</label> <input type="text"
												class="form-control" placeholder="Nhập tên nhân viên"
												th:field="*{id_leave}" readonly>
										</div>
										<div class="form-group">
											<label>Nhân viên</label> <input type="text"
												class="form-control" placeholder="Nhập tên nhân viên"
												th:field="*{employee.id}" readonly>
										</div>
										<div class="form-group">
											<label>Ngày bắt đầu </label> <input type="date"
												id="start_date" name="start_date" class="form-control"
												th:field="*{start_date}" readonly>
										</div>
										<div class="form-group">
											<label>Ngày kết thúc</label> <input type="date"
												class="form-control" th:field="*{end_date}" readonly>
										</div>

									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="leave_type">Loại nghỉ phép:</label> <select
												class="form-control" id="leave_type" name="leave_type"
												th:field="*{leave_type}" required>
												<option value="AL-Phép năm">AL-Phép năm</option>
												<option value="PL-Phép cá nhân">PL-Phép cá nhân</option>
												<option value="SL-Phép ốm">SL-Phép ốm</option>
												<option value="Khác">Khác</option>
											</select>
										</div>

										<div class="form-group">
											<label>Lý do</label> <input type="text" class="form-control"
												placeholder="Nhập lý do" th:field="*{reason}" required>
										</div>
										<div class="form-group">
											<label>Trạng thái</label> <select class="form-control"
												th:field="*{status}">
												<option value="pending">Pending</option>
												<option value="approved">Approved</option>
												<option value="rejected">Rejected</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-primary">Update</button>
							</div>
						</form>
					</div>
				</div>
			</section>
		</div>

		<div th:replace="admin/layout/footer :: footer"></div>
	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<div th:replace="admin/layout/scripts :: scripts"></div>


</body>
</html>
