<aside class="main-sidebar" th:fragment="sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img th:src="@{/assets/images/MinhAnhimg.jpg}" class="img-circle"
					alt="User Image">
			</div>
			<div class="pull-left info">
				<span style="font-weight: bold">Xin Chào !</span><br><br>
				<span sec:authentication="name"></span>
			</div>
		</div>
		<hr>

		<ul class="sidebar-menu" data-widget="tree">

			<li><a th:href="@{/admin/listnhanvien}"> <i class="fa fa-th"></i>
					<span>Quản lý Nhân Viên </span> <span class="pull-right-container">
				</span>
			</a></li>

			<!--<li><a th:href="@{/admin/listchamcong}"> <i
					class="fa fa-dashboard"></i> <span>Quản Lý Chấm Công</span> <span
					class="pull-right-container"> </span>
			</a></li>-->
			<li class="treeview"> <a href=""> <i class="fa fa-dashboard"></i>
					<span>Quản Lý Công Việc</span> <span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a th:href="@{/admin/listchamcong}"><i class="fa fa-circle-o"></i> Chấm Công</a></li>
					<li><a th:href="@{/admin/listluong}"><i class="fa fa-circle-o"></i> Lương</a></li>
					<li><a th:href="@{/admin/listnghiphep}"><i class="fa fa-circle-o"></i> Nghỉ Phép</a></li>
				</ul></li>


		</ul>
	</section>
	<!-- /.sidebar -->
</aside>
