<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<head th:replace="admin/layout/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">
		<!-- header -->
		<header th:replace="admin/layout/header :: header"> </header>
		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<div th:replace="admin/layout/sidebar :: sidebar"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Form thêm nhân viên<small>Thông Tin</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Examples</a></li>
					<li class="active">Blank page</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="box">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Thêm Thông Tin</h3>
						</div>
						<!-- /.box-header -->
						<!-- form start -->
						<form role="form" method="post" th:action="@{/admin/add-nv}"
							th:object="${dsnv}">
							<div class="box-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Họ Và Tên</label> <input type="text"
												class="form-control" placeholder="Enter ..." required
												th:field="*{name_employee}">
										</div>
										<div class="form-group">
											<label>Phái / Giới Tính</label>
											<div class="form-check">
												<input class="form-check-input" type="radio"
													name="flexRadioDefault" id="flexRadioDefault1" value="true"
													th:field="*{gender}" checked> <label
													class="form-check-label" for="flexRadioDefault1">Nam</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio"
													name="flexRadioDefault" id="flexRadioDefault2"
													value="false" th:field="*{gender}"> <label
													class="form-check-label" for="flexRadioDefault2">Nữ</label>
											</div>
										</div>
										<div class="form-group">
											<label>Ngày Sinh</label> <input type="date" id="birthday"
												name="birthday" class="form-control" th:field="*{birthday}" requied>
										</div>

										<div class="form-group">
											<label for="exampleInputEmail1">Email address</label> <input
												type="email" class="form-control" id="exampleInputEmail1"
												placeholder="Enter email" th:field="*{email}" requied>
										</div>
										<div class="form-group">
											<label>Số Điện Thoại</label> <input type="text"
												class="form-control" placeholder="Enter ..."
												th:field="*{phone}">
										</div>
										<div class="form-group">
											<label>Ngày Nhận Việc</label> <input type="date"
												id="hire_date" name="hire_date" class="form-control"
												th:field="*{hire_date}" requied>
										</div>
										<div class="form-group">
											<label>Địa Chỉ</label> <input type="text"
												class="form-control" placeholder="Enter ..."
												th:field="*{address}" requied>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
										<label>Role User</label> <br>
											<select id="role" name="role">
												<option value="ADMIN">Admin</option>
												<option value="EMPLOYEE">Employee</option>
											</select>
										</div>
										<div class="form-group">
											<label>Vị Trí Công Việc</label> <input type="text" class="form-control"
												placeholder="Enter ..." th:field="*{position}" requied>
										</div>
										<div class="form-group">
											<label>UserName</label> <input type="text"
												class="form-control" placeholder="Enter ..." required
												th:field="*{username}">
										</div>
										<div class="form-group">
											<label>PassWord</label> <input type="text"
												class="form-control" placeholder="Enter ..." required
												th:field="*{password}">
										</div>
										<div class="form-group">
											<label>Enabled</label>
											<div class="form-check">
												<input class="form-check-input" type="radio"
													name="flexRadioDefaultENABLED" id="flexRadioDefaultON"
													value="false" th:field="*{enabled}"> <label
													class="form-check-label" for="flexRadioDefaultON">OFF
												</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio"
													name="flexRadioDefaultENABLED" id="flexRadioDefaultOFF"
													value="true" th:field="*{enabled}" checked> <label
													class="form-check-label" for="flexRadioDefaultOFF">ON
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</section>
		</div>

		<div th:replace="admin/layout/footer :: footer"></div>
	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<div th:replace="admin/layout/scripts :: scripts"></div>


</body>
</html>
